[gcp]
_active = "cool-machine-learning:us-central2-b"

[gcp."cool-machine-learning:us-central2-b"]
project = "cool-machine-learning"
zone = "us-central2-b"
# image_project = "gcp-at-apple-image-factory"
network = "projects/cool-machine-learning/global/networks/default"
subnetwork = "projects/cool-machine-learning/regions/us-central2/subnetworks/default"
service_account_email = "ml-training@cool-machine-learning.iam.gserviceaccount.com"
permanent_bucket = "public-permanent-us-central2"
private_bucket = "private-permanent-us-central2"
ttl_bucket = "ttl-30d-us-central2"
labels = "v4-tpu"
# docker_repo = "us-docker.pkg.dev/cybertron-gcp-island-test-0rxn/applejax"
reserved_tpu = false
# default_dockerfile = "ajax/gcp/dockerfile/Dockerfile.ajax"
# See `ajax/docs/tensorboard.md` for details
# vertexai_tensorboard = "9107800170635984896"
# vertexai_region = "us-central1"
# For backwards compat. See `ajax/gcp/jobs/bastion_vm`.
bastion_name = "shared-bastion"